.textcols {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	
}

.textcols-item {
	background: #8e59ad;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 2px 2px 12px 1px rgba(161, 122, 234, 0.2);
}
 
.textcols p {
	padding: 0;
	margin: 0 0 15px 0;
}
dd {

  
  padding: 15px 20px;
  color: white;
  background-color: #333333;
}
dt {
  
  padding: 15px 20px;
  color: white;
	body {
  padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;
/* Задайте свойство ниже */
  background: #ffffff url(https://i.pinimg.com/originals/dc/aa/3c/dcaa3cc8f7ff0b0b808db191154c8fbc.jpg) no-repeat top center;

  background-color: #333333;
}
